# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
.DS_Store
.AppleDouble
.LSOverride
._*
__pycache__
.env

# Directory (contents) ignores
homeassistant/config/.cloud
homeassistant/config/.storage/*
homeassistant/config/deps
homeassistant/config/netdaemon
homeassistant/config/www/community
homeassistant/config/www/images/camera_snapshots/*
homeassistant/config/image/*
homeassistant/.ssh/*
.vscode/

# Specific file ignores
homeassistant/config/.config_entries.json
homeassistant/config/.homekit.state
homeassistant/config/.ios.conf
homeassistant/config/.spotify-token-cache
homeassistant/config/.tradfri_psk.conf
homeassistant/config/.uuid
homeassistant/config/core
homeassistant/config/html5_push_registrations.conf
homeassistant/config/ip_bans.yaml
homeassistant/config/known_devices.yaml
homeassistant/config/options.xml
homeassistant/config/OZW_Log.txt
homeassistant/config/pyozw.sqlite
homeassistant/config/secrets.yaml
homeassistant/config/zwcfg_*
homeassistant/config/zwscene.xml
homeassistant/config/.dick_swart_me_com.tile.conf
homeassistant/config/webostv.conf
homeassistant/config/google_calendars.yaml
homeassistant/config/.google.token
homeassistant/config/scripts/scripts.yaml

# Specific keeps
!.gitkeep
!homeassistant/config/.ssh/config
!homeassistant/config/.storage/input_*
!homeassistant/config/.storage/lovelace*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.stubs/.env


# TEMP
grafana/*
influxdb/*
mariadb/*
mosquitto/*
nodered
*.disable


