---
esphome:
  name: ${node_name}
  comment: "Deta Grid Connect Smart Plug (2 Gang). ${node_comment}"
  platform: ESP8266
  board: esp01_1m
  board_flash_mode: dout
  esp8266_restore_from_flash: true
  build_path: ./build/${node_name}

captive_portal:

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

sensor:
  - <<: !include sensor/uptime.config.yaml
  - <<: !include sensor/wifi_signal.config.yaml

binary_sensor:
  - <<: !include binary_sensor/connection_status.config.yaml

text_sensor:
  - <<: !include text_sensor/version.config.yaml

switch:
  - platform: restart
    name: ${device_verbose_name} Restart
    id: switch_restart

status_led:
  pin:
    number: GPIO4
    inverted: true
